h1 {
  color: teal;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
  border: 1px solid #80808061;
  padding: 15px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background: #80808061;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
  display: table-cell;
  vertical-align: inherit;
  border: 1px solid;
  padding: 10px;
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
  flex-direction: row; /* Items will be arranged in a column */
  align-items: flex-start; /* Items will be aligned to the start of the cross axis */
}

.data-item {
  border: 1px solid;
  padding: 15px;
  margin: 5px;
  display: grid;
  max-width: 300px;
}
